<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Application.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ApplicationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InfraTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>531132972AA7907600F4B101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5311329E2AA7907700F4B101</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535859812AA52202008AE97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>535859882AA52203008AE97C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>536037E92AA6B46800004917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>536037F02AA6B46800004917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53A449F72A990C8D007DF156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C9A7AB2AA8D8DF000F311C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53CAF4002AA8DC2D00C293D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
